<div class="lead center-text-align">
    <h3>BEL CANTO</h3>
    <h4>Dawna Włoska Szkoła Śpiewu</h4>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6">
        <p class="panel-title">Trochę historii</p>
        <hr />
        <div class="panel-body">
            <img src="Images/About/voice.jpg" alt="Marta Przeniosło" class="img-responsive img-rounded pull-left left-right-margin"/>
            <p>Nazwa <strong>bel canto</strong> jest dziś szeroko stosowana, a nawet nadużywana w dyskusjach o śpiewakach i stylach w muzyce. Bel canto
                narodziło się z chwilą, kiedy Camerata Florencka (ok.1600 r.) podjęła się próby <strong>stworzenia szkoły śpiewu</strong>. Aby zacząć,
                musieli oni znaleźć model, który posłużyłby za wzór. Modelem dla ich analitycznej pracy stały się tzw.<strong>„głosy naturalne”</strong> -
                czyli takie, które w każdym aspekcie mechanicznym działały prawidłowo, nie miały żadnych mankamentów natury technicznej,
                często także reprezentując sobą wysoce rozwinięty zmysł muzyczny i estetyczny. Wielopokoleniowe analizy tych głosów doprowadziły
                w końcu do ustanowienia szkoły, znanej dziś pod nazwą dawnej Włoskiej Szkoły Śpiewu, będącej <strong>jednolitym zbiorem zasad i recept</strong>
                według których nauczano w całych Włoszech przez wiele lat. </p>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <p class="panel-title">Słynni wychowankowie szkoły</p>
        <hr />
        <div class="panel-body">
            <img src="Images/About/maria-callas.jpg" alt="Marta Przeniosło" class="img-responsive img-rounded pull-left left-right-margin"/>
            <p>W latach swojej świetności Szkoła ta wytrenowała wiele wspaniałych
                głosów, jak choćby: <strong>Claudia Muzio</strong>, Eugenia Burzio, Conchita Supervia, Antonio Cotogni, Dinh Gilly, <strong>Giovanni Inghilleri</strong>, Gaetano
                Rebonato, Aureliano Pertile, Giovanni Zenatello, <strong>Margaret Sheridan</strong>, Riccardo Daviesi, Stabile, Enrico Caruso, Luisa Tetrazzini,
                Claudia Muzio, Sigrid Onegin, Tito Schipa, Lauri Volpi, <strong>Beniamino Gigli</strong> czy <strong>Maria Callas</strong>.</p>


        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6">
        <p class="panel-title">Główne założenia szkoły</p>
        <hr />
        <div class="panel-body">
            <img src="Images/About/nature.jpg" alt="Marta Przeniosło" class="img-responsive img-rounded pull-left left-right-margin"/>
            <p>Zasady tej szkoły są <strong>„ekstraktem z natury”</strong>, stanowiąc kompletną wiedzę o tym jak funkcjonuje głos ludzki. Informacje te
                oparte są ściśle na prawach natury, dlatego są <strong>uniwersalne i ponadczasowe</strong>.</p>

            <p>Standardy, jakie wyznaczyła szkoła bel canto – jak sama nazwa wskazuje – to przede wszystkim <strong>piękno</strong> – głosu ludzkiego
                z nieskazitelną wirtuozerską techniką i piękno samej muzyki. Są to wzorce jak dotąd niedoścignione pod tymi względami, o
                czym wciąż możemy się przekonać słuchając starych nagrań reprezentantów tej szkoły. Pomimo często nie najlepszej jakości
                audio, nie jesteśmy w stanie zaprzeczyć <strong>technicznej perfekcji, spontaniczności, wysokiej estetyki oraz wyjątkowych
                    interpretacji </strong>śpiewaków dawnej Szkoły.</p>

        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <p class="panel-title">Bel Canto a współczesność</p>
        <hr />
        <div class="panel-body">
            <img src="Images/About/mic.jpg" alt="Marta Przeniosło" class="img-responsive img-rounded pull-left left-right-margin"/>
            <p>Wraz ze zmianami jakie przyniosła tzw. „nowoczesność”, szkoła ta przestała istnieć; ktoś coś dodał, ktoś ujął, ktoś uznał,
                że wie lepiej i tak oto do dziś mamy <strong>chaos informacji i metod</strong>, a wszystko wydaje się być kwestią talentu lub szczęścia.</p>

            <p>Na całe szczęście czas nie zdołał zatrzeć wszystkich śladów po dawnej Szkole i także dziś możemy odnaleźć tę bogatą
                wiedzę w zagranicznych publikacjach. Choć przyznaję, że największa trudność polega przede wszystkim na rozpoznaniu „tych właściwych”.</p>

            <p>Moim celem jest, aby wiedza ta stała się udziałem <strong>każdego, kto także ceni sobie tradycje bel canto</strong>. Stąd też pomysł,
                aby podzielić się tym doświadczeniem tworząc <a href="#/zajecia/program">autorski program nauczania śpiewu</a> łączący tradycje dawnej Włoskiej Szkoły
                Śpiewu i współczesny repertuar muzyki rozrywkowej.</p>

        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12">
    <p class="panel-title">Dlaczego warto?</p>
    <hr />
    <div class="panel-body">
        <img src="Images/About/quest.png" alt="Marta Przeniosło" class="img-responsive img-rounded pull-left left-right-margin"/>

        <p>Wiele osób sądzi, że technika wokalna <strong>zależna jest od stylu muzycznego</strong> (inna dla klasyki, inna dla muzyki rozrywkowej),
            że można technikę kształtować według woli, kaprysu czy osobistych przekonań. Jest to nieprawda, ponieważ <strong>śpiewać można
            tylko dobrze albo źle</strong>. A o tym, co jest dla nas dobre informuje nas nasze własne odczucie. Niestety, problemem są <strong>złe
            wzorce</strong>, które dopuszczają łamanie praw akustycznych i fizjologicznych, tymczasem prawa te są stałe i niezmienne dla
            wszystkich głosów. Błędów  nie można <strong>usprawiedliwiać stylem</strong> , ekspresją ani temperamentem, choć na pewno z
            wielką łatwością przychodzi nam racjonalizowanie wszelkich nadużyć. Częstym ostatnio zjawiskiem jest także <strong>promowanie
            głosów o brzmieniu nieestetycznym,</strong> tj. z chrypą, zapowietrzonych, „butelkowych”, „ziewających”, szorstkich, słowem ”brudnych”,
            jakby sama barwa miała być substytutem charakteru czy ekspresji. Na nieszczęście samych wokalistów, których takie komplementy
            na długie lata <strong>pozbawiają właściwego treningu</strong> i szansy doświadczenia możliwości głosu prowadzonego według projektu natury,
            są oni jedynymi poszkodowanymi w tej obopólnej zgodzie co do nowoczesnych standardów i mód. Ostatecznie nikt im przecież
            nie <strong>współczuje odczuć w krtani</strong>, w gardle czy na strunach głosowych ani też nie interesuje się kosztami, jakie ponosi śpiewak
            dla zadowolenia odbiorców. I słusznie! Polecam ostatnie słowa do refleksji.</p>
    </div>
</div>









