<div class="lead center-text-align">
   <h3>MARTA PRZENIOSŁO</h3>
    <h4>wokalistka, instruktorka śpiewu, autorka książki pt. „Technika wokalna Bel Canto”, kompozytorka, autorka tekstów</h4>
</div>

<div class="col-lg-6 col-md-6">
    <p class="panel-title">Edukacja</p>
    <hr />
    <div class="panel-body">
        <img src="Images/Common/mikro.jpg" alt="Marta Przeniosło" class="img-responsive img-rounded pull-left left-right-margin"/>
        <p>Absolwentka wokalistyki jazzowej na kierunku Jazz i Muzyka Estradowa na Uniwersytecie Zielonogórskim.
        Ukończyła także Szkołę Muzyczną I st. oraz Państwowe Liceum Muzyczne w Legnicy w klasie fletu poprzecznego.</p>
        <p><strong>"Wokalistyka jazzowa w aspekcie twórczych zadań aktorskich"</strong> to temat jej pracy licencjackiej, a jednocześnie
            kolejny kierunek poszukiwań muzycznych. W nauczaniu wykorzystuje zadania aktorskie oraz sposoby kreacji postaci
            czy roli (na podstawie systemu Stanisławskiego) na rzecz rozwijania umiejętności interpretacji u wokalistów.</p>

    </div>
</div>

<div class="col-lg-6 col-md-6">
    <div class=" panel-title">Konkursy i koncerty</div>
    <hr />
    <div class="panel-body">
        <img src="Images/About/trojka.jpg" alt="Marta Przeniosło koncert w radiowej Trójce" class="pull-right img-responsive img-rounded"/>
        <p>Jest laureatką wielu konkursów muzycznych, m.in.: III miejsca na XXXIV <strong>Międzynarodowych Spotkaniach Wokalistów Jazzowych</strong> w
        Zamościu (2007), III nagrody na <strong>Międzynarodowym Festiwalu Muzyki Jazzowej "Krokus 2007"</strong> w Jeleniej Górze, a w 2008 roku
        była finalistką <strong>Otwartego Konkursu na Indywidualność Jazzową</strong> podczas festiwalu Jazz nad Odrą we Wrocławiu.</p>

        <p>W 2008 r., jako wokalistka rekomendowana przez <strong>Jana Ptaszyna Wróblewskiego</strong>, została zaproszona przez <strong>Radiową Trójkę</strong> do
        zagrania koncertu wraz z zespołem „Marta Przeniosło Quartet”, który był transmitowany na żywo.<br/>
            <a href="http://youtu.be/P6CWtynWrrk?list=PLKwK3py4N2D2tUJe6VX2Vl5FeLF4FWwBm" target="_blank">Posłuchaj nagrania z koncertu!</a></p>
    </div>
</div>

<div class="col-lg-6 col-md-6">
    <div class=" panel-title">Publikacje</div>
    <hr />
    <div class="panel-body">
        <img src="Images/Common/belcanto.JPG" class="img-rounded pull-left left-right-margin" alt="Bel Canto"/>
        <p>Marta jest także autorką książki o technice wokalnej pt.<a href="#/o_mnie/publikacje">” Technika wokalna Bel Canto – esencja dawnej Włoskiej Szkoły
            Śpiewu”</a>, która została wydana w 2011 roku. Swoją wiedzę na temat prawidłowej emisji głosu zdobywała studiując anglojęzyczne
            podręczniki. Z chwilą kiedy teoria stała się także jej własnym doświadczeniem, postanowiła opisać zasady i recepty będące
            podstawą szkolenia głosu według samej natury, a które to odkryła i stosowała dawna <a href="#/o_mnie/bel_canto">Włoska Szkoła Śpiewu</a> już w XVII w.</p>
    </div>
</div>

<div class="col-lg-6 col-md-6">
    <div class="panel-title">Inspiracje</div>
    <hr />
    <div class="panel-body">
        <img src="Images/About/marta.png" class="img-rounded pull-right left-right-margin" alt="Marta Przeniosło"/>
        <p>Swoje początkowe inspiracje muzyką jazzową świadomie zamieniła na muzykę rozrywkową. Dziś, muzyką którą tworzy i wykonuje
        jest pop, który artystka łączy z tradycją bluesa i jazzu. Inspiracją dla niej jest przede wszystkim <strong>Mariah Carey</strong>, u której
        ceni fakt, że sama pisze swoje utwory, a także ma niezwykłą umiejętność tworzenia melodii, świetne wyczucie frazy, rytmu
        i artykulacji, a wszystko to razem łączy w piękne muzyczne opowieści. </p>

        <p>Poza nią w różnym czasie Marta inspirowała się także
        innymi amerykańskimi twórcami jak <strong>Whitney Houston</strong>, George Benson, Stevie Wonder, Prince, Diana Ross,
            <strong>Michael Jackson</strong>, Luther
        Vandross, <strong>Patti Labelle</strong>, a także Shirley Horn, Nancy Wilson, Carmen McRae...</p>
    </div>
</div>




