<div class="lead center-text-align">
    <h3>"TECHNIKA WOKALNA BEL CANTO"</h3>
    <h4>Podręcznik do nauki emisji głosu, esencja dawnej Włoskiej Szkoły Śpiewu </h4>
</div>

<div class="jumbotron center-text-align">

<img src="Images/Common/belcanto.JPG" alt="Technika wokalna Bel Canto" class="img-responsive img-rounded margin center-block"/>
<h3><p>Do kupienia w <a href="http://www.estudiante-sklep.pl/technika-wokalna-bel-canto-esencja-dawnej-wloskiej-szkoly-spiewu-p-15006.html"
                    target="_blank">księgarni internetowej EStudiante!</a></p></h3>
</div>

<div class="col-lg-12 col-md-12">
    <p class="panel-title">O książce</p>
    <hr />
    <div class="panel-body">
        <p>Profesjonalny podręcznik do nauki emisji głosu przeznaczony dla wokalistów, śpiewaków oraz instruktorów i pedagogów
            śpiewu. Jest to <strong>pierwsza w Polsce</strong> książka szczegółowo opisująca zasady techniki wokalnej bel canto.</p>

        <p>"Technika wokalna Bel Canto" dowodzi, że nauka śpiewu nie opiera się na tajemnicy, nie jest względna i
            personalna lecz jest <strong>nauką ścisłą</strong>, jak chociażby matematyka. Książka ta obala narosłe przez lata mity
            związane ze śpiewaniem, podając w zamian <strong>proste i logiczne zasady</strong> oraz recepty prawidłowej emisji głosu,
            a jednocześnie nie zarzuca czytelnika szczegółowymi opisami i informacjami z zakresu anatomii aparatu głosowego,
            które nic nie wnoszą do samego kształcenia wokalnego.</p>


    </div>
</div>

<div class="col-lg-6 col-md-6">
    <div class="panel-body">
        <table class="table table-hover ">
            <tbody>
            <tr>

                <td colspan="2" class="center-text-align">"Technika wokalna Bel Canto - esencja dawnej Włoskiej Szkoły Śpiewu"</td>
            </tr>
            <tr>
                <td>Autor:</td>
                <td>Marta Przeniosło</td>

            </tr>
            <tr>
                <td>Format:</td>
                <td>A5 (145x205mm)</td>

            </tr>
            <tr>
                <td>Ilość stron:</td>
                <td>88</td>

            </tr>
            <tr>
                <td>Opis:</td>
                <td>Okładka twarda płócienna, strony zszyte, obwoluta ofoliowana - książka jest wykonana estetycznie i
                    solidnie, z pewnością posłuży czytelnikowi przez wiele lat.</td>

            </tr>
            <tr>
                <td>Wydawnictwo:</td>
                <td><p><a href="http://www.estudiante.pl" target="_blank">eStudiante</a></p></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="col-lg-6 col-md-6">

    <div class="panel-body">
        <ul>
            <li><strong>Wstęp</strong></li>
            <li><strong>Rozdział I: Geneza dawnej Włoskiej Szkoły Śpiewu - Bel Canto</strong></li>
            <li><strong>Rozdział II: Technika wokalna</strong>
                <ol>
                    <li> Mechanizm wokalny - fizjologia i akustyka</li>
                    <li> Oddech</li>
                    <li> Proces skracania strun głosowych - modyfikacja samogłosek</li>
                    <li>"Pion" - mentalne narzędzie wokalisty</li>
                    <li> Pharyngeal (la voce faringea) - zapomniany mechanizm</li>
                    <li> Kształtowanie spółgłosek</li>
                    <li> Mentalna zasada "spłycania" strumienia tonalnego</li>
                    <li> Problem z podnoszącą się krtanią</li>
                </ol>

            </li>
            <li><strong>Rozdział III: Zasady i recepty - edukacja umysłu</strong>
                <ol>
                    <li> Samogłoski</li>
                    <li> Struny głosowe</li>
                    <li> Prawidłowe odczucia</li>
                    <li> Jak myśleć</li>
                </ol>

            </li>
            <li><strong>Rozdział IV: Od czego zacząć ćwiczenia</strong></li>
            <li><strong>Podsumowanie</strong></li>
            <li><strong>Słowniczek</strong></li>
            <li><strong>Bibliografia</strong></li>
        </ul>

    </div>
</div>

<div class="col-lg-12 col-md-12">
<p class="panel-title">Wybrane fragmenty</p>
<hr />
<blockquote class="big-margin">
    <p class="smaller-text text-muted">"Wiele osób sądzi, że technika wokalna zależna jest od stylu muzycznego (inna dla klasyki, inna dla muzyki
        rozrywkowej), że można technikę kształtować według woli, kaprysu czy osobistych przekonań. Jest to nieprawda,
        ponieważ śpiewać można tylko dobrze albo źle. Niestety, problemem są złe wzorce, które dopuszczają łamanie praw
        akustycznych i fizjologicznych, a  tymczasem prawa te są stałe i niezmienne dla wszystkich głosów. Błędów i nadużyć
        nie można usprawiedliwiać stylem, ekspresją ani temperamentem. Wiedza zawarta w tej książce opiera się na osiągnięciach
        dawnej Włoskiej Szkoły Śpiewu - Bel Canto i dostępna jest każdemu, ponieważ stanowi "ekstrakt z natury".
        <em>"Technika wokalna Bel Canto"</em> to zbiór najistotniejszych zasad dotyczących szkolenia głosu zainspirowanych
        pracami Edgara Herberta - Caesari'ego (1884 - 1969), które wnikliwie studiowałam i analizowałam."</p>
</blockquote>
<blockquote>
    <p class="smaller-text text-muted">"Moim celem jest, aby każdy kto szuka fachowych i konkretnych informacji o technice wokalnej mógł poznać odkrycia jakich
        dokonano już w XVII wieku. Zważywszy jednak na rozmiary tej książki nie trudno się domyśleć, że jest to esencja, czyli
        najważniejsze, z mojego punktu widzenia, zasady i recepty niezbędne do zdiagnozowania i rozwiązania większości problemów
        jakie może stawiać praca nad techniką wokalną."</p>
</blockquote>
    </div>