<div class="lead center-text-align">
    <h3>CENNIK ZAJĘĆ</h3>
</div>

<p class = "well center-text-align">Cena obejmuje ustaloną ilość zajęć trwających po 45 minut oraz wszystkie niezbędne materiały edukacyjne (podkłady fortepianowe w
formie CD do ćwiczeń z emisji głosu, podkłady CD do wybranych piosenek polskich i zagranicznych, podkłady CD do arii
operowych, materiały nutowe, wydruki z notatkami i diagramami).<br/>
   <strong> Opłata za kurs naliczana jest ryczałtowo w zależności od wybranej opcji.</strong>
</p>

<div class="panel panel-success no-border col-lg-6 col-md-6 cl-sm-6 col-xs-6">
    <div class="panel-heading">400 zł</div>
    <div class="panel-body">
        Cena obejmuje 4 zajęcia trwające po 45 minut.
    </div>
</div>

<div class="panel panel-warning no-border col-lg-6 col-md-6 cl-sm-6 col-xs-6">
    <div class="panel-heading">200 zł</div>
    <div class="panel-body">
        Cena obejmuje 2 zajęcia trwające po 45 minut w cyklach:
        1 lekcja co drugi tydzień.
        Wybór terminu lekcji jest ograniczony.
    </div>
</div>
