<div class="panel panel-primary col-lg-2 no-border center-text-align">
    <div class="classesGraphicPanel panel-heading ">
        <h3 class="panel-title color-primary-2 ">Poniedziałek</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover ">
            <tbody>
            <tr>
                <td>9.00 - 15.00</td>
                <td>Brak zajęć</td>
            </tr>
            <tr class="success">
                <td>15.00-16.00</td>
                <td>Wolny termin</td>
            </tr>
            <tr class="success">
                <td>16.00-17.00</td>
                <td>Wolny termin</td>
            </tr>
            <tr class="danger">
                <td>17.00-18.00</td>
                <td>Zajęty termin</td>
            </tr>
            <tr class="danger">
                <td>18.00-19.00</td>
                <td>Zajęty termin</td>
            </tr>
            <tr class="success">
                <td>19.00-20.00</td>
                <td>Wolny termin</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-primary col-lg-2 no-border center-text-align">
    <div class="panel-heading classesGraphicPanel">
        <h3 class="panel-title color-primary-2 ">Wtorek</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover ">
            <tbody>

            <tr class="danger">
                <td>9.00-10.00</td>
                <td>Zajęty termin</td>
            </tr>
            <tr class="danger">
                <td>10.00-11.00</td>
                <td>Zajęty termin</td>
            </tr>
            <tr>
                <td>11.00 - 20.00</td>
                <td>Brak zajęć</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-primary col-lg-2 no-border center-text-align">
    <div class="panel-heading classesGraphicPanel">
        <h3 class="panel-title color-primary-2 ">Środa</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover ">
            <tbody>
            <tr>
                <td>9.00 - 15.00</td>
                <td>Brak zajęć</td>
            </tr>
            <tr class="danger">
                <td>17.00-18.00</td>
                <td>Zajęty termin</td>
            </tr>
            <tr class="success">
                <td>16.00-17.00</td>
                <td>Wolny termin</td>
            </tr>

            <tr class="success">
                <td>19.00-20.00</td>
                <td>Wolny termin</td>
            </tr>
            <tr class="success">
                <td>15.00-16.00</td>
                <td>Wolny termin</td>
            </tr>
            <tr class="danger">
                <td>18.00-19.00</td>
                <td>Zajęty termin</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-primary col-lg-2 no-border center-text-align">
    <div class="panel-heading classesGraphicPanel">
        <h3 class="panel-title color-primary-2 ">Czwartek</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover ">
            <tbody>
            <tr>
                <td>9.00 - 16.00</td>
                <td>Brak zajęć</td>
            </tr>
            <tr class="danger">
                <td>16.00-17.00</td>
                <td>Zajęty termin</td>
            </tr>
            <tr class="danger">
                <td>17.00-18.00</td>
                <td>Zajęty termin</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-primary col-lg-2 no-border center-text-align">
    <div class="panel-heading classesGraphicPanel">
        <h3 class="panel-title color-primary-2 ">Piątek</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover ">
            <tbody>
            <tr>
                <td>9.00 - 20.00</td>
                <td>Brak zajęć</td>
            </tr>
        </table>
    </div>
</div>

<div class="panel panel-primary col-lg-2 no-border center-text-align">
    <div class="panel-heading classesGraphicPanel">
        <h3 class="panel-title color-primary-2 ">Sobota</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover ">
            <tbody>
            <tr>
                <td>9.00 - 12.00</td>
                <td>Brak zajęć</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="alert  alert-default col-lg-10 col-lg-offset-1">
        Powyższy grafik zmienia się bardzo dynamicznie, dlatego w celu dokladnego zaplanowania lekcji proszę o kontakt
        telefoniczny lub mailowy w sprawie preferowanych godzin.
    </div>

