<div class="lead center-text-align">
    <h3>OPINIE O LEKCJACH</h3>
    <h4>Poniżej zamieszczono opinie i przemyślenia uczniów, którzy uczęszczają na lekcje w Vocal Master Key</h4>
</div>

<div class="row">
<blockquote class="smaller-text col-lg-12 col-md-12 col-sm-12">
    <h4>Kopalnia wiedzy</h4>
    <p>"Lekcje prowadzone przez Martę to kopalnia wiedzy. Takiej wiedzy, której nie dowiesz się w szkole muzycznej czy
        innym tego typu miejscu edukacyjnym. </p>
    <p>
        To, co mnie zaskoczyło w lekcjach to sam styl ich prowadzenia.  Marta do każdego naprawdę <strong>podchodzi indywidualnie</strong>,
        pamięta co się robiło na ostatnich zajęciach.
        Na samym początku więcej lekcji przegadałyśmy o technice.  Ja się spodziewałam, że na dzień dobry powiem parę słów
        o sobie i przejdziemy do ćwiczeń. Będziemy PRÓBOWAĆ śpiewać jak to było na moich poprzednich lekcjach.  A tu cała
        lekcja poświęcona dokładnie temu, co trzeba zrobić i jak <strong>ćwiczyć MYŚLENIE</strong>. Bo nie śpiewa się wbrew pozorom tylko
        strunami i przeponą, ale przede wszystkim trzeba wiedzieć w myśli czego się konkretnie dla danego dźwięku chce.</p>

        <p>Okazało się, że jestem mezzosopranem, mam grube struny i w sumie potężny głos, a przez całe
        życie wszyscy mnie uciszali.
        Teraz potrafię zaśpiewać każdą melodię idealnie trafiając w każdy dźwięk.</p>
       <p> Oczywiście, o czym trzeba pamiętać, to ćwiczenia. Trzeba naprawdę wziąć się do pracy i wyćwiczyć pharyngeal i
        inne bardziej lub mniej skomplikowane mechanizmy.
        Ale jeżeli naprawdę ktoś czegoś chce to to dostanie. Nie słuchajcie ludzi dookoła, zacznijcie słuchać siebie i
        tego czy faktycznie po pierwszych 2- 3 lekcjach czujecie, że to jest <strong>zgodne z waszymi odczuciami</strong>- naturalne.
        Ja nie poznałam jeszcze bardziej <strong>kompetentnej osoby</strong> w kwestii techniki wokalnej. Marta ma wiedzę, świetne umiejętności
        i przede wszystkim niesamowite <strong>wyczucie</strong>, co w danej chwili nie działa i jak do Ciebie trafić,
        żebyś nauczył się tego i potrafił wykorzystać to później.</p>
        <p>Wszystkich chętnym życzę powodzenia."</p>
    <small>Magda</small>
</blockquote>
    </div>

<div class="row">
    <blockquote class="smaller-text col-lg-6 col-md-6 col-sm-12">
        <h4>Nauczyciel z powołania</h4>
        <p>"Marta należy do bardzo nielicznej grupy nauczycieli „z powołania”, którzy są świadomi siebie, swojej wiedzy, umiejętności,
            znają swoją dziedzinę od podszewki.
            Śpiew i muzyka nie stanowią dla niej żadnej tajemnicy. Marta ma nieprzeciętną umiejętność <strong>dzielenia się swoją wiedzą</strong>
            w sposób jasny, zrozumiały, logiczny a zarazem intuicyjny.</p>

        <p>Pomimo, że wiele lat uczyłam się w państwowych szkołach muzycznych (podobno o wysokim poziomie), to dopiero Marta
            odkryła przede mną czar muzyki i miejsce śpiewu w muzyce. Zwróciła uwagę na detale i wartości, które były omijane
            szerokim łukiem przez poprzednich nauczycieli. Rok pracy z Martą okazał się niezwykle intensywny i przyniósł mi
            <strong>więcej niż się spodziewałam</strong>.</p>
        Po lekcji u Marty ZAWSZE miałam poczucie <strong>„dobrze zainwestowanego czasu i pieniędzy”</strong>. Każda lekcja przynosiła mi
        satysfakcję, ponieważ czułam, że się rowijam. Zawsze wychodziłam z czymś nowym; z nową techniką, nową wiedzą,
        doświadczeniem i zawsze wiedziałam, jak pracować w domu, a ewentualne niepewności mogłam skonsultować mailowo/telefonicznie.
        <p>
            Marta wyczerpująco odpowiada na pytania i niezwykle precyzyjnie „obrazuje” swoim głosem wszystkie omawiane
            przykłady oraz techniki. Łatwość z jakim posługuje się „swoim wewnętrznym instrumentem” nie tylko wzbudza mój
            podziw, ale daje mi nadzieję, że kiedyś sama będę umiała w ten sposób się nim posługiwać.
            Najbardziej doceniam u Marty <strong>wiarę w ucznia i jego możliwości</strong>. Zawsze z uśmiechem powtarza: <strong>„Skoro ja potrafię,
            to każdy potrafi.”</strong></p>
        <small>Monika</small>
    </blockquote>

    <blockquote class="smaller-text pull-right col-lg-6 col-md-6 col-sm-12">
        <h4>Zmuszają do myślenia</h4>
        <p>
            "Wspaniałe lekcje, które zmuszają do myślenia. Chciałam po prostu sobie pośpiewać, a teraz wiem, kiedy jest dobrze, a kiedy źle i jak to poprawić.
            Po tych lekcjach <strong>inaczej słucham muzyki</strong>, szczególnie wokalistów - zwracam uwagę i fascynują mnie rzeczy, których wcześniej nie zauważałam.
            Marto, dzięki tobie zrozumiałam za co tak bardzo lubię muzykę i jak dużo <strong>satysfakcji</strong> może dawac mi mój własny głos.
            Zdecydowanie polecam wszystkim te zajęcia."
        </p>
        <small>Ania</small>
    </blockquote>

<blockquote class="smaller-text pull-right col-lg-6 col-md-6 col-sm-12">
    <h4>Bez lania wody</h4>
    <p>"Lekcje u Marty są dla mnie bardzo ważne zarówno na płaszczyźnie teoretycznej jak i praktycznej. Bardzo podoba mi
        się sposób przekazywania wiedzy. Natomiast wiedza sama w sobie, którą otrzymuje na zajęciach jest <strong>naprawdę bezcenna</strong>.
        Myślę też, że ciężko jest znaleźć dobrego nauczyciela wokalu, który naprawdę zna się na swojej pracy. A tu o proszę,
        jest taki nauczyciel - Marta Przeniosło. Jeśli szukasz <strong>konkretu i prawdy</strong> o mechanizmie ludzkiego głosu a nie lania wody i
        dorabiania filozofii wokół śpiewania, to <strong>nie ma nad czym się zastanawiać</strong>. Szczerze polecam."</p>
    <small>Kamil</small>
</blockquote>
</div>

<div class="row">
    <blockquote class="smaller-text pull-right col-lg-6 col-md-6 col-sm-12">
        <h4>Świadome śpiewanie</h4>
        <p>"Lekcje z Panią Martą <strong>otworzyły mi oczy</strong> na świat techniki wokalnej. Teraz nie tylko potrafię śpiewać ale jestem
            również świadomy tego co robię. Pani Marta zawsze była w stanie przekazać mi swoją myśl w bezbłędny sposób.
            Atmosfera na lekcjach również była niesamowita, zawsze po zajęciach wychodziłem z uśmiechem, uważam że jest to
            osoba o <strong>niesamowitej energii</strong>, którą świetnie potrafi przekazać swoim uczniom ale również o dużym poczuciu humoru.
            Polecam wszystkim te zajęcia, którzy chcą się nauczyć <strong>śpiewać ŚWIADOMIE</strong>, jest to najlepsza osoba do tego."
        </p>
        <small>Eryk</small>
    </blockquote>
    <blockquote class="smaller-text col-lg-6 col-md-6 col-sm-12">
        <h4>Dążenie do piękna</h4>
        <p>
            "Początkowo trudno mi było sie przebić i zrozumieć o co chodzi,
            bo wczesniej uczyłem się u innych nauczycieli. U Marty spotkałem się z <strong>zupełnie innym
            podejściem</strong>. Spodobała mi sie jej wnikliwość, upór i poczucie humoru.
            Jako nauczyciel śpiewu sama znakomicie śpiewa i bardzo dobrze <strong>tłumaczy wszystkie zagadnienia</strong>.
            Nalega na prawidłowe i zdrowe używanie głosu. Bardzo odpowiada mi praca polegająca na analizowaniu własnych odczuć i to stałe dążenie do piękna.
            Naprawdę super. Polecam!"
        </p>
        <small>Tomasz</small>
    </blockquote>
</div>

<div class="row">
    <blockquote class="smaller-text col-lg-6 col-md-6 col-sm-12">
        <h4>Niekonwencjonalnie</h4>
        <p>
            "Chodzę na indywidualne zajęcia z P. Martą już ok. 1,5 roku i jestem z nich naprawdę zadowolona. Uważam, że metody
            wykorzystywane w nauce są <strong>niekonwencjonalne</strong>, aczkolwiek bardzo do mnie trafiły.
            Dzięki licznym wskazówkom i ogromnej cierpliwości co tydzień uczę się czegoś nowego, rozwijam swój głos. Ale nie
            tylko, uczę sie nad nim panować, uczę się go kontrolować tak żeby mi <strong>służył, a nie niszczył</strong>.
            Cenię sobie również te zajęcia ze względu na przyjemną atmosferę, możliwość skonfrontowania naszych opinie, miłe rozmowy.
            Zajęcia są prowadzone tak, że rzeczy, które z początku wydawały się niemożliwe lub ciężkie do wykonania stają się
            <strong>prostsze i wykonalne</strong>.
            Polecam je w 100% i uważam, że nie mogłam trafić lepiej."
        </p>
        <small>Kinga</small>
    </blockquote>
</div>


