<div class="lead center-text-align">
    <h3>ZAJĘCIA</h3>
    <h4>Zapraszam na kursy śpiewu prowadzone według autorskiego programu nauczania. </h4>
</div>

<div class="col-lg-4 col-md-4">
    <p class="panel-title">Dla kogo?</p>
    <hr />
    <div class="panel-body">
        <img src="Images/Common/logo36.png" alt="Marta Przeniosło" class="img-responsive img-rounded pull-left left-right-margin gray-background"/>
        <p>Oferta skierowana jest do wszystkich osób, które chcą <strong>profesjonalnie i systematycznie</strong> kształcić swój głos. Jeżeli interesuje
            Cię <strong>fachowa i solidna</strong> wiedza o technice wokalnej, w której nie ma tajemnic, jeżeli chcesz
        nauczyć się <strong>frazowania i artykulacji</strong> w różnych stylach muzycznych, jeżeli chcesz zdobyć narzędzia do najwierniejszej i
        <strong>najlepszej interpretacji tekstu</strong>, jeśli piszesz własną muzykę i potrzebujesz konsultacji - zgłoś się na lekcje śpiewu do
        <strong>Vocal Master Key</strong>.</p>
    </div>
</div>

<div class="col-lg-4 col-md-4">
    <p class="panel-title">Trochę teorii</p>
    <hr />
    <div class="panel-body">
        <img src="Images/Classes/puzzle.jpg" alt="Marta Przeniosło" class="img-responsive img-rounded pull-left left-right-margin"/>
        <p>Początkiem pracy nad głosem jest dostarczenie uczestnikom <strong>fachowych informacji</strong> na temat głosu oraz zasad i
            praw jakim podlega jego użytkowanie (nie wszyscy bowiem zdają sobie sprawę z tego, iż takowe istnieją).
            Stanowi to niezbędną i obowiązkową <strong>podstawę kształcenia</strong> wokalnego, a w przyszłości gwarantuje świadomy i
            zdrowy rozwój głosu.</p>
    </div>
</div>

<div class="col-lg-4 col-md-4">
    <p class="panel-title">Predyspozycje</p>
    <hr />
    <div class="panel-body">
        <img src="Images/Classes/singer.jpeg" alt="Marta Przeniosło" class="img-responsive img-rounded pull-right left-right-margin"/>
        <p>Na etapie początkowym nauki rozpoznaję w jakim stopniu dany głos jest <strong>naturalny</strong>, co oznacza określenie stosunku
            predyspozycji do mankamentów. Wyjątkowo rzadko zdarza się, że osoba posiada głos w 100% naturalny, tzn. taki, który nie
            ma żadnych <strong>mankamentów technicznych</strong>. Oznacza to tylko tyle, że w głosach naturalnych natura dokończyła swego dzieła i
            głos ten działa <strong>w pełni automatycznie</strong> (co niekoniecznie przekłada się na świadomość śpiewaka). Przeciętnie <strong>predyspozycje głosowe</strong> wahają się od 30% do 90% naturalności - reszta musi zostać wypracowana w drodze
            szkolenia <strong>odpowiednimi ćwiczeniami</strong>.</p>
    </div>
</div>

<div class="col-lg-4 col-md-4">
    <p class="panel-title">Materiały</p>
    <hr />
    <div class="panel-body">
        <img src="Images/Classes/herbert.jpg" alt="Marta Przeniosło" class="img-responsive img-rounded pull-left left-right-margin"/>
        <p>Każdy uczestnik kursu otrzymuje ćwiczenia wokalne napisane przez <strong>E.HERBERTA- CAESARI</strong> (wybitnego pedagoga i
            reprezentanta szkoły bel canto) dostępne w formie podkładów fortepianowych, które umożliwiają systematyczną i
            konsekwentną <strong>pracę w domu</strong> . Jest to podstawowy element kształcenia: 50 ćwiczeń, z których każde ma swój szczególny
            cel dążący do pełnej świadomości procesów zachodzących podczas fonacji i ich kontroli. Trenują one kondycję i sprawność
            wszystkich mięśni zaangażowanych w pracę strun głosowych, a także gardła (podniebienia i języka, które biorą udział w
            kształtowaniu samogłosek i spółgłosek).</p>
    </div>
</div>

<div class="col-lg-4 col-md-4">
    <p class="panel-title">Główny temat zajęć</p>
    <hr />
    <div class="panel-body">
        <img src="Images/Classes/umysl.jpg" alt="Marta Przeniosło" class="img-responsive img-rounded pull-right left-right-margin"/>
        <p>Główną materią jaką zajmuję się na zajęciach jest zbudowanie <strong>pamięci umysłowej i mięśniowej</strong> poprzez znalezienie
            właściwych ustawień dla każdego dźwięku, a następnie w rozmaitych konfiguracjach realizujemy odkryte zasady na ćwiczeniach.
            Zdobyte w ten sposób doświadczenie egzekwowane jest na <strong>repertuarze</strong>, dostosowanym pod względem trudności do aktualnych
            umiejętności i świadomości ucznia.</p>
    </div>
</div>

<div class="col-lg-4 col-md-4">
    <p class="panel-title">Repertuar</p>
    <hr />
    <div class="panel-body">
        <img src="Images/Classes/vinyl.jpg" alt="Marta Przeniosło" class="img-responsive img-rounded pull-right left-right-margin"/>
        <p>Z chwilą kiedy głos nabędzie już w zadowalającym stopniu dobrych nawyków, wprowadzam do zajęć repertuar wybierany wspólnie
            z uczestnikiem według jego zainteresowań. Do dyspozycji jest <strong>bogata biblioteka podkładów do polskich i zagranicznych utworów</strong>.
            Na tym etapie pracy skupiam się na umiejętności <strong>interpretowania tekstów</strong> oraz interpretacji partii wokalnych (frazowania).
            Rozwijając umiejętności interpretatorskie u wokalisty sięgam po elementy zadań aktorskich według „systemu Stanisławskiego”, co
            wzbogaca wokalistę o nowe środki wyrazu i jest swoistym narzędziem do poszukiwania najlepszej i najwierniejszej interpretacji
            tekstu.</p>
    </div>
</div>


