<div class="lead center-text-align">
    <h3>ZAPISY NA ZAJĘCIA</h3>
    <h4>Kilka słów o tym jak przebiega proces zapisu</h4>
</div>

<div class="col-lg-6 col-md-6">
    <p class="panel-title">Kontakt</p>
    <hr />
    <div class="panel-body">
        <img src="Images/Classes/phone.png" alt="Marta Przeniosło" class="img-responsive img-rounded pull-left left-right-margin"/>
        <p>Aby zapisać sie na lekcję należy wysłać maila na adres <strong>kontakt@vocalmasterkey.pl</strong> (można skorzystać w formularza zamieszczonego w dziale <a href="#/kontakt">Kontakt</a>) lub zadzwonić pod numer <strong>+48 691 311 991</strong>
        w celu ustalenia terminu pierwszego spotkania i ewentualnych wątpliwości związanych z samym zapisem na lekcje. </p>

        <p>Pierwsza lekcja trwa około 20 minut i ma charakter zapoznawczy. Dzięki temu mogę poznać problemy i motywacje nowej osoby,
        a zainteresowany może dokładniej dowiedzieć się, czego może się spodziewać.</p>
        <h5 class="text-danger"><strong>Taka lekcja jest oczywiście bezpłatna.</strong></h5>

        <p class="alert alert-danger">Jeśli z powodu rożnych okoliczności zainteresowany nie będzie mógł przyjść na lekcję ( czy próbną czy już regularną),
            proszę o kontakt telefoniczny w celu ustaleniu nowego terminu.</p>
    </div>
</div>

<div class="col-lg-6 col-md-6">
    <p class="panel-title">Kurs</p>
    <hr />
    <div class="panel-body">
        <img src="Images/Common/mikro.jpg" alt="Marta Przeniosło" class="img-responsive img-rounded pull-right left-right-margin"/>
        <p>Zajęcia mają charakter kursu, opłata naliczana jest ryczałtowo. Więcej o opłatach w
            dziale <a href="#/zajecia/cennik">cennik</a>.</p>
        <p>Zajęcia mogą być prowadzone w języku <strong>polskim</strong> lub <strong>angielskim</strong>.</p>
    </div>
</div>

<div class="col-lg-6 col-md-6">
    <p class="panel-title">Gdzie?</p>
    <hr />
    <div class="panel-body">
        <img src="Images/Classes/staszic.jpg" alt="Marta Przeniosło" class="img-responsive img-rounded pull-left left-right-margin"/>
        <p>Lekcje śpiewu "Vocal Master Key" odbywają się w centrum Warszawy w <br/>
            <h5>Pałacu Staszica ul. Nowy Świat
            72 <br />Krakowskie Przedmieście.</h5></p>
    </div>
</div>